fastapi
uvicorn
python-multipart
pydantic
transformers
einops
pillow
# We use the CPU-specific torch to keep the image slim
torch --index-url https://download.pytorch.org/whl/cpu
accelerate
bitsandbytes
dateparser
ics